{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": "airbnb-base",
    "rules": {
    	"indent": [ "error", "tab" ],
    	"max-len": "off",
    	"no-tabs": "off",
    	"strict": "off" // eslint, mocha and chai incompatibility (https://github.com/chaijs/chai/issues/578)
    }
}